* {
    margin: 0;
    padding: 0;
}

header {
    padding: 1.1rem;
    background-color: #41D3BD;
    color: white;
}

body {
    background-color: #65B891;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    width: 25vw;
    max-width: 120px;
    aspect-ratio: 1/1;
    transition: transform 0.2s ease;
}

.option:hover {
    opacity: 80%;
    transform: scale(1.1);
}

.option:active {
    transform: scale(0.9);
}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
}

.options {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.msg-container {
    display: flex;
    justify-content: center;
}

#msg {
    padding: 0.5rem 1.2rem;
    border-radius: 0.6rem;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.score-board {
    display: flex;
    justify-content: center;
    margin: 5rem;
    gap: 3rem;
}

.score {
    color: #FFFFF2;
    background: #407899;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    min-width: 120px;
}

#user-score {
    font-size: 2rem;
}

#comp-score {
    font-size: 2rem;
}

.rstcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rstgm {
    background: #DE6449;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.15s ease, opacity 0.15s ease;
}
.rstgm:hover{
    transform: translateY(-2px);
  opacity: 0.9;
}
.rstgm:active {
    transform: scale(0.95);
}


footer {
    margin-top: auto;
    background-color: #FFFFF2;
    padding: 1.5vmin;
}

#ftr {
    text-decoration: none;
}

#ftr:hover {
    color: aqua;
    font-size: 1.04rem;
}